<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <%= csrf_meta_tags %>
        <title>Anurag Bhandari | Blog</title>
        <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= yield :stylesheets %>
    </head>

    <body>

        <a href="https://github.com/anuragbhd/ror-blog">
          <img
            style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;"
            src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
            alt="Fork me on GitHub"
            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
        </a>

        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">Blog</li>
                    <li><%= link_to 'Home', articles_path %></li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li><%= link_to 'Create post', new_article_path %></li>
                </ul>
            </div>
        </div>

        <div class="callout large primary">
            <div class="row column text-center">
                <h1>Anurag Bhandari</h1>
                <h2 class="subheader">A Guy with Monkeys on his Rooftop</h2>
            </div>
        </div>

        <%= yield %>

        <footer class="responsive-blog-footer">
            <div class="row">
                <div class="medium-8 columns small-order-2 medium-order-1 about-container">
                    <div class="row">
                        <div class="hide-for-small-only medium-2 columns about-section">
                            <img width="100"
                              src="https://avatars3.githubusercontent.com/u/1288616?v=3&s=400">
                        </div>
                        <div class="medium-10 columns about-section">
                            <h4>
                                About Me</h4>
                            <p>Technologist. Open source evangelist. Software developer.
                              Science fiction buff. Sports fan. Bookworm. Gamer.
                              Gadget freak. Philatelist.</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
                    <h4 class="mailing-list">Follow me <small>at your own risk</small></h4>
                    <a class="button" href="https://www.linkedin.com/in/anuragbhandari/">
                      <i class="fi-social-linkedin medium"></i></a>
                    <a class="button" href="https://twitter.com/anuragbhandari">
                      <i class="fi-social-twitter medium"></i></a>
                    <a class="button" href="https://github.com/anuragbhd">
                      <i class="fi-social-github medium"></i></a>
                    <a class="button" href="http://steamcommunity.com/id/i-am-game/">
                      <i class="fi-social-steam medium"></i></a>
                </div>
            </div>
            <div class="row columns flex-container align-justify">
                <p>
                    (copyleft) no rights reserved</p>
                <div class="up-arrow">
                    <a href="#top">
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
        <%= yield :scripts %>
    </body>

</html>
